{{!< default}}

{{#page}}

{{> 'site-header'}}

{{> 'feature-image'}}

<main class="bigBoldCard">
	<stack-layout space="s5">
		<center-layout class="flow" max="42em" gutters="s0">
			<h1>{{title}}</h1>

			{{{content}}}
		</center-layout>

		{{#get "pages" order="title asc" filter="tag:activity"}}
		<center-layout class="flow" max="42em" gutters="s0">
			<h2>Activities</h2>
			<grid-layout min="260px">
				{{#foreach pages}}
				<article>
					<a href="{{url}}">
						<frame-layout ratio="16:9">
							<img src="{{feature_image}}">
						</frame-layout>
					</a>
					<p>
						<a href="{{url}}">{{title}}</a>
					</p>
				</article>
				{{/foreach}}
			</grid-layout>
		</center-layout>
		{{/get}}

		<center-layout class="flow" max="42em" gutters="s0">
			<h2>Partners</h2>
			
			{{#get "posts" order="title asc" filter="tag:hash-partner-university"}}
			{{#if posts}}
			<h3>Universities</h3>
			{{> 'post-grid' posts=posts size="150px"}}
			{{/if}}
			{{/get}}
			
			{{#get "posts" order="title asc" filter="tag:hash-partner-nhs-trusts"}}
			{{#if posts}}
			<h3>Trusts</h3>
			{{> 'post-grid' posts=posts size="120px"}}
			{{/if}}
			{{/get}}
			
			{{#get "posts" order="title asc" filter="tag:hash-partner-industry"}}
			{{#if posts}}
			<h3>Industry</h3>
			{{> 'post-grid' posts=posts size="120px"}}
			{{/if}}
			{{/get}}
		</center-layout>

	</stack-layout>
</main>

<div class="well accent-lazurite">
	{{> 'site-footer'}}
</div>

{{/page}}
