{{!< default}}

{{#page}}

{{> 'site-header'}}

{{> 'feature-image'}}

<main class="bigBoldCard">
	<stack-layout space="s5">
		<center-layout class="flow" gutters="s0">
			<h1>{{title}}</h1>

			{{{content}}}
		</center-layout>

		{{#get "pages" order="title asc" filter="tag:hash-activity"}}
		<center-layout class="flow" gutters="s0" max="80ch">
			<h2 id="activities">Activities</h2>
			<grid-layout min="260px">
				{{#foreach pages}}
				{{> 'activity'}}
				{{/foreach}}
			</grid-layout>
		</center-layout>
		{{/get}}

		<center-layout gutters="s0" max="80ch">
			<stack-layout space="s2">
				<div class="flow">
					<h2 id="partners">Partners</h2>
				</div>
				
				{{#get "posts" order="title asc" filter="tag:hash-university" limit="all"}}
				{{#if posts}}
				<section class="flow">
					<h3>Universities</h3>
					{{> 'post-grid' posts=posts size="150px"}}
					{{/if}}
				</section>
				{{/get}}

				{{#get "pages" filter="slug:nhs-info" as |page|}}
				{{#page}}
				<section class="flow">
					<h3>{{title}}</h3>
					<sidebar-layout sideWidth="20ch" side="right" class="contact-info">
						<div class="flow" style="--flow: 0.5em">
							{{{content}}}
						</div>
						<aspect-ratio ratio="1:1">
							<img src="{{feature_image}}">
						</aspect-ratio>
					</sidebar-layout>
				</section>
				{{/page}}
				{{/get}}
				
				{{#get "posts" order="title asc" filter="tag:hash-nhs-trusts" limit="all"}}
				{{#if posts}}
				<section class="flow">
					<h3>Trusts</h3>
					{{> 'post-grid' posts=posts size="120px"}}
					{{/if}}
				</section>
				{{/get}}
				
				{{#get "posts" order="title asc" filter="tag:hash-industry" limit="all"}}
				{{#if posts}}
				<section class="flow">
					<h3>Industry</h3>
					{{> 'post-grid' posts=posts size="120px"}}
					{{/if}}
				</section>
				{{/get}}
			</stack-layout>
		</center-layout>

	</stack-layout>
</main>

<div class="well accent-lazurite">
	{{> 'site-footer'}}
</div>

{{/page}}
