{{!< default}}

{{#page}}

{{> 'site-header'}}

{{> 'feature-image'}}

<main class="bigBoldCard">
	<center-layout gutters="s0">
		{{!-- <nav class="breadcrumbs">
			<ul role="list">
				<li>
					<a href="/about/">
						<icon-layout space="s-3">
							{{> icon name="home"}}
							<span>Home</span>
						</icon-layout>
					</a>
				</li>
				{{#get "pages" filter="tag:hash-activity+id:-{{id}}"}}
				{{#foreach pages}}
				{{#get "pages" filter=(concat "tag:hash-activity-" slug "+id:" ../../id)}}
				{{#if pages}}
				<li>/</li>
				<li>
					<a href="{{../url}}"><icon-layout space="s-3"><span>{{../title}}</span></icon-layout></a>
				</li>
				{{/if}}
				{{/get}}
				{{/foreach}}
				{{/get}}
			</ul>
		</nav> --}}

		<stack-layout space="s5">
			<section class="flow">
				<h1>{{title}}</h1>
				{{{content}}}
			</section>
			
			{{#get "pages" filter="tag:hash-activity-{{slug}}+id:-{{id}}"}}
			{{#if pages}}
			<section class="flow">
				<h2>Activities</h2>
				<grid-layout>
					{{#foreach pages}}
					{{> 'activity-card'}}
					{{/foreach}}
				</grid-layout>
			</section>
			{{/if}}
			{{/get}}

			{{#get "posts" filter="tag:hash-activity-{{slug}}" limit="4"}}
			{{#if posts}}
			<section class="flow">
				<h2>Related posts</h2>
				<grid-layout>
					{{#foreach posts}}
					<article>
						<frame-layout ratio="16:9">
							<a href="{{url}}">
								<img src="{{feature_image}}">
							</a>
						</frame-layout>
						<p>
							<a href="{{url}}">
								{{title}} →
							</a>
						</p>
					</article>
					{{/foreach}}
				</grid-layout>
			</section>
			{{/if}}
			{{/get}}

		</stack-layout>
	</center-layout>
</main>

<div class="well accent-lazurite">
	{{> 'site-footer'}}
</div>

{{/page}}
