{{!< default}}

{{#page}}

{{> 'site-header'}}

{{> 'feature-image'}}

<main class="bigBoldCard">
	<stack-layout space="s5">
		<center-layout class="flow" max="34em" gutters="var(--s0)">
			<h1>{{title}}</h1>

			{{{content}}}
		</center-layout>
		
		{{#get "posts" limit="3" filter="tag:-hash-partner"}}
		<center-layout class="flow accent-terracotta" max="46em">
			<sidebar-layout sideWidth="12em" class="latest-posts" space="0">
				<header class="flow">
					<h2>Connecting</h2>
				</header>
				<stack-layout space="s3">
					{{#foreach posts}}
					<article class="flow" style="--flow: 0.5em">
						<h3>{{title}}</h3>
						<p>{{excerpt}}</p>
						<p>
							<a href="{{url}}">
								<icon-layout>
									Read on
									{{> "icon" name="right"}}
								</icon-layout>
							</a>
						</p>
					</article>
					{{/foreach}}

					<cluster-layout>
						<a href="/posts" class="kg-btn accent-dioptase">
							<icon-layout>
								More posts
								{{!-- {{> "icon" name="right"}} --}}
							</icon-layout>
						</a>
					</cluster-layout>
				</stack-layout>
			</sidebar-layout>
		</center-layout>
		{{/get}}

		{{#get "pages" filter="slug:contact-info" as |page|}}
		{{#page}}
		<center-layout class="flow accent-umber" max="34em" gutters="var(--s0)">
			<sidebar-layout sideWidth="12em" class="contact-info">
				<aspect-ratio ratio="1:1">
					<img src="{{feature_image}}" class="rounded">
				</aspect-ratio>
				<div class="flow" style="--flow: 0.5em">
					<h2>{{title}}</h2>
					{{{content}}}
				</div>
			</sidebar-layout>
		</center-layout>
		{{/page}}
		{{/get}}
	</stack-layout>
</main>

<div class="well accent-lazurite">
	<stack-layout space="s5">
		<center-layout>
			<box-layout class="card flow">
				<h2>Our partners</h2>

				{{#get "posts" filter="tag:hash-partner+featured:true" order="title ASC"}}
				<grid-layout min="150px" space="var(--s2)">
					{{#foreach posts}}
						<img src="{{feature_image}}" alt="{{title}}">
					{{/foreach}}
				</grid-layout>
				{{/get}}
			</box-layout>
		</center-layout>

		{{> 'site-footer'}}
	</stack-layout>
</div>



{{/page}}
