{{!< default}}

{{#page}}

{{> 'site-header' }}

{{> 'feature-image' size="s"}}

<main class="bigBoldCard">
	<stack-layout space="s5">
		<center-layout gutters="s0">
			<section class="flow">
				<h1>{{title}}</h1>
				{{{content}}}
			</section>
		</center-layout>

		{{!-- Loop through each activity page first --}}
		{{#get "pages" filter="tag:activity" order="title asc"  limit="all"}}
		{{#foreach pages}}
		<center-layout gutters="s0" max="80ch">
			<section class="flow">

				{{!-- Loop through each person that has that activity tag --}}
				{{#get "posts" filter="tag:person+tag:activity-{{slug}}" order="title asc" limit="all"}}
				{{#if posts}}
				<h2>{{../title}}</h2>
				<grid-layout min="130px" gap="s0">
				{{#foreach posts}}
					{{> 'person-card'}}
				{{/foreach}}
				</grid-layout>
				{{/if}}
				{{/get}}
			</section>
		</center-layout>
	{{/foreach}}
	{{/get}}

	<center-layout gutters="s0" max="80ch">
		<section class="flow">
			{{#get "posts" filter="tag:person+tag:activity-{{slug}}" order="title asc" limit="all"}}
			{{#if posts}}
			<h2>Wider team</h2>
			<grid-layout min="130px" gap="s0">
			{{#foreach posts}}
				{{> 'person-card'}}
			{{/foreach}}
			</grid-layout>
			{{/if}}
			{{/get}}
		</section>
	</center-layout>
	</stack-layout>
</main>

<div class="well accent-lazurite">
	{{> 'site-footer'}}
</div>

{{/page}}
